* {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    /* background-color: black;
    color: white; */
}

body {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}

#content {
    width: 900px;
    height: 100%auto;
    margin: 0 auto;
}

#content .header {
    /* position: fixed; */
    width: 100%;
    height: 90px;
    background-color: rgb(183, 0, 0);
}

.icon {
    float: left;
    left: 10px;
    position: relative;
    /* padding: 10px; */
    margin-top: 9px;
}

.title {
    position: relative;
    right: 100px;
    float: right;
    margin-top: 30px;
    color: white;
}

.title h2 {
    font-size: 23px;
}


/* Formateo al formulario*/

tr,
th {
    font-size: 12px;
}

.contenttable1 {
    position: static;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.contenttable1 span {
    /* float: left; */
    font-weight: bold;
    font-size: 13px;
}

.table-info,
.table-info th,
.table-info td {
    font-size: 12px;
    /* width: 80%; */
    margin-left: 10px;
    text-align: left;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
}

.table-info tr th {
    width: 160px;
}

.table-info .input-text {
    /* color: redk */
    width: 350px;
    font-size: 12px;
}

.table-info .sugerencia-img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.table-info .sugerencia-span {
    display: none;
}

.table-info .sugerencia-img:hover {
    cursor: pointer;
}


/* TH AGRUPADOS */

.tr-agrupados {
    display: none;
}


/* ************************************************** */


/* CONTENEDOR DE SOLICITUDES Y SERVICIOS */

.contenedorinterno {
    height: 240px;
}

.contenedorinterno .table-service {
    float: left;
    margin-left: 10px;
    /* margin: 0 auto */
}

.table-service {
    border: 1px solid black;
}

.table-service,
.table-service th,
.table-service td {
    border: 1px solid black;
    border-collapse: collapse;
    /* border-spacing: 0px; */
}

.table-service,
.table-service th {
    align-items: center;
    width: 30px;
}

.table-service .f1 {
    background-color: rgb(183, 0, 0);
    color: white;
}

.table-service,
.table-service td {
    align-items: center;
    width: 150px;
    vertical-align: middle;
    text-align: center;
}

.table-service th input {
    margin-top: 3px;
}


/* *******************************************/


/* Tabla turnos */

.contenttable1 .table-turnos {
    width: 380px;
    margin-left: 10px;
    /* background-color: black; */
}

.fechas {
    margin-left: 15px;
}


/* *******************************************/


/* Tabla cuenta subcuenta */

.contenttable1 .tabla-cuenta-subcuenta {
    width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.contenttable1 .tabla-cuenta-subcuenta th {
    background-color: rgb(183, 0, 0);
    color: white;
    border: 1px solid black;
    height: 20px;
}
.contenttable1 .tabla-cuenta-subcuenta tr td{
    padding-top:2px;
}
.contenttable1 .tabla-cuenta-subcuenta tr td input {
    width: 300px;
    border: none;
    border-bottom:1px solid grey ;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.importante {
    color: red;
}
.contenttable1 .tabla-cuenta-subcuenta .bt-eliminar{
    width: 20px;
    height: auto;
    border: none;
    cursor: pointer;
    padding: 2px;
    margin-left: 2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(46, 42, 42);
}

.contenttable1 #agregar {
    float: right;
    width: 60px;
    height: 30px;
    border: none;
    background-color: rgb(183, 0, 0);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contenttable1 #agregar:hover {
    color: white;
    box-shadow: 0px 0px 3px 2px rgb(108, 8, 8);
    transition: .3s;
    /* transform: rotate(180deg); */
}

.contenedor-usuario {
    font-size: 12px;
    width: 100%;
    height: 100px;
    display: flex;
    box-sizing: border-box;
}

.contenedor-usuario .usuario {
    width: 60%;
    height: 80px;
    font-weight: bold;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

.usuario span {
    margin: auto;
}

.contenedor-usuario .usuario input {
    border: none;
    display: flex;
    width: 250px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
}

.contenedor-firma {
    width: 40%;
    height: 80px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

#firma-img {
    width: 200px;
    height: 70px;
    display: none;
    margin: auto;
}

#buscar-firma {
    margin: auto;
}

#guardar {
    float: right;
    margin-right: 40px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: rgb(183, 0, 0);
    color: white;
    border: none;
    border-radius: 3px;
    align-items: center;
}

#guardar:hover {
    box-shadow: 1px 1px 6px 2px rgb(108, 8, 8);
    transition: .4s;
}

#cadenatexto {
    /* color: white; */
    font-size: 5px;
    text-overflow: unset;
    overflow: hidden;
    text-align: justify;
    white-space: nowrap;
    height: 15px;
}

.flotante {
    display: none;
    float: left;
    background-color: none;
    width: 700px;
    height: 50px;
    margin: auto;
}

@media print {
    #agregar,
    #guardar,
    #buscar-firma,
    .bt-eliminar {
        display: none !important;
    }
}